.jumbotron {
  background-image: url("/assets/img/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 10px;
}

#newburger {
  border-radius: 5px;
}

#lefthead {
  background-color: seagreen;
  color: white;
  text-align: center;
  font-size: 1.2em;
}

#eatbutton {
  float: right;
}

#righthead {
  background-color: burlywood;
  color: white;
  text-align: center;
  font-size: 1.2em;
}